body {
    font-family: 'Verdana', sans-serif;
    background-color: #0F1808; /* Night */
    color: #FBFCFF; /* White */
    margin: 0;
    padding: 0;
}

main {
    padding: 40px;
    margin: 0 auto;
}

a {
    color: #652D90; /* Andrew Purple */
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #D0CCD0; /* French Gray */
}

.about-me {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bio-title {
    margin: 10px auto;
    padding: 5px;
}

.bio {
    margin: 10px auto;
    padding: 5px;
}

.profile-photo {
    border-radius: 100px;
    border: 3px solid #0f1808;
}

/* CSS Styles for the Projects found in Portfolio Page */
.project {
    position: relative;
    overflow: hidden;
}

.project img {
    width: 100%;
    height: auto;
}

.project h3 {
    text-align: center;
    margin-top: 10px;
}

.project .links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.project:hover .links {
    opacity: 1;
}

.project .links a {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

.live-demo {
    background-color: #652D90;
    color: white;
}

.live-demo:hover {
    background-color: #96909b;
}

.github-repo {
    background-color: #2D5890;
    color: white;
}

.github-repo:hover {
    background-color: #96909b;
}

/* CSS Styles found in Resume Page */
.resumebtn {
    padding: 30px;
    background-color: #652D90;
    color: white;
}

.employment-italic {
    font-style: italic;
}